@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

@*@if (Model.Exception != null)
{
    @Model.Exception
}*@
<h2>
    Sorry, an error occurred while processing your request.
</h2>
@ViewBag.Error
