@model  elearn.Models.ProfileIDGroupIDModel
<button id="btnLeave">Leave</button>
<label id="summary"></label>
<label id="modalResult" hidden="hidden">false</label>
<script type="text/javascript">

    $(function()
        {
        $("#btnLeave").click(function() {
            $.ajax({
                    type : "POST",
                    url: "@Url.Action("Leave","Group")",
                    data : "groupId=" + @Model.GroupId +"&profileId="+ @Model.ProfileId,
                    cache: false,
                    dataType: "json",
                    success: function(data) {
                        if (data.IsSuccess) {
                            $("#summary").text("Success");
                            $("#modalResult").text("true");
                        }
                        else {
                                $("#summary").text("Failed");
                            }
                    },
                    error : function() {
                        $("#summary").text("Error");
                    }
                });
            });
        });
 </script>