@model GroupModelDto
           
@using NHiberanteDal.DTO

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>GroupModelDto</legend>

    <div class="display-label">GroupName</div>
    <div class="display-field">@Model.GroupName</div>

        @foreach ( var profile in ViewData.Model.Users)
        {
            <li style="list-style-type: none">
            <label style="color: red;font-weight:bold;" id="deleteProfile_@{@profile.ID}" class="label-profile-ok">x</label>  @Html.ActionLink(profile.Name,"Details","Profile",new {id=profile.ID},null)
            </li>
        }

</fieldset>




<script type="text/javascript" >

    $(function () {
        $(".label-profile-ok").click(function () {
            var profileId = GetId(this.id);
            $.ajax({
                    type: "POST",
                    url: "@Url.Action("Leave","Group")",
                    data: "groupId=" + @Model.ID + "&profileId=" + profileId ,
                    cache: false,
                    dataType: "json",
                    success: function(data) {
                        if (data.IsSuccess) {
                            $(this).remove();
                        }
                        else {
                        }
                    },
                    error: function() {
                    }
                });
        });
    });
  

</script>


