@model NHiberanteDal.DTO.GroupModelDto

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>GroupModelDto</legend>

    <div class="display-label">GroupName</div>
    <div class="display-field">@Model.GroupName</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>

