
@model GroupModelDto
           
@using NHiberanteDal.DTO

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>GroupModelDto</legend>

    <div class="display-label">GroupName</div>
    <div class="display-field">@Model.GroupName</div>

        @foreach ( var profile in ViewData.Model.Users)
        {
            <li style="list-style-type: none">
            <label style="color: red;" id="deleteProfile.@profile.ID" class="deleteProfile">x</label>  @Html.ActionLink(profile.Name,"Details","Profile",new {id=profile.ID},null)
            </li>
        }
</fieldset>


