
@model GroupModelDto
           
@using NHiberanteDal.DTO

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>GroupModelDto</legend>

    <div class="display-label">GroupName</div>
    <div class="display-field">@Model.GroupName</div>

        @foreach ( ProfileModelDto profile in ViewData.Model.Users)
        {
            <li>@Html.ActionLink(profile.Name,"Details","Profile",new {id=profile.ID})</li>
        }
</fieldset>


