@{
    ViewBag.Title = "Details";
}
@model NHiberanteDal.DTO.JournalModelDto
<ul>
    @foreach (var mark in Model.Marks)
    {
        <li>@mark.Name - @mark.Value - Date - @mark.DateAdded</li>
    }
</ul>