<div class="flat_area grid_16">
		<h2>Welcome to <strong>Code Dash</strong></h2>
		<p><strong>Code Dash</strong> is a elearning web application created for my thesis project.</p>

		<p>It's <strong>Objective</strong> provide great learning experience targeted for the Geeks and Coding nerds.</p>

        <p>Feel free to <strong>Explore</strong> the application and it's features.</p>

        <p>This is a <strong>Open Source</strong> project code available at <a href="https://github.com/LaMik/ElearnServices">https://github.com/LaMik/ElearnServices</a></p>
        <p>Theme and layout powered by <a href="http://themeforest.net/item/adminica-the-professional-admin-template/160638">Adminica Template</a></p>
</div>			