<div class="flat_area grid_16">
		<h2>Welcome to <strong>Code Dash</strong></h2>
		<p><strong>Code Dash</strong> is a elearning web application created for my thesis project.</p>

		<p>It's <strong>Objective</strong> provide great learning experience targeted for the Geeks and Coding nerds.</p>

        <p>Feel free to <strong>Explore</strong> the application and it's features.</p>

        <p>This is a <strong>Open Source</strong> project code available at <a href="https://github.com/LaMik/ElearnServices">https://github.com/LaMik/ElearnServices</a></p>
        <p>Theme and layout powered by <a href="http://themeforest.net/item/adminica-the-professional-admin-template/160638">Adminica Template</a></p>
	</div>			
@*		<div class="box grid_6 round_all tabs">
			<ul class="tab_header grad_colour clearfix">
				<li>
					<a href="#tabs-1">Quicklinks</a>
				</li>
				<li>
					<a href="#tabs-2" class="round_top">Content</a>
				</li>
			</ul>
			<a href="#" class="grabber">&nbsp;</a>
			<a href="#" class="toggle">&nbsp;</a>
			<div class="toggle_container">
				<div id="tabs-1" class="block no_padding">
					<ul class="full_width">
                        <li>Test</li>
					</ul>
				</div>
			<div id="tabs-2" class="block">
				<div class="content">
					<h1>Primary Heading</h1>
					<p>Lorem Ipsum is simply dummy text of the <a href="#" title="This is a tooltip">printing industry</a>. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen.</p> 
				</div>
			</div>
		</div>*@
	</div>		