@{
    ViewBag.Title = "CodeDash";
}


<div class="home-info-panel">@elearn.WebHelper.CreateLoremIpsum(2)</div>
<div class="home-info-panel">@elearn.WebHelper.CreateLoremIpsum(2)</div>
<div class="home-info-panel">@elearn.WebHelper.CreateLoremIpsum(2)</div>
<div class="home-info-panel">@elearn.WebHelper.CreateLoremIpsum(2)</div>