<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <targets>
      <target name="DalLogFile" xsi:type="File" fileName="DalLogFile.txt"/>
    </targets>

    <rules>
      <logger name="*" minlevel="Error" writeTo="DalLogFile" layout="${date:format=yyyyMMddHHmmss} ${message}"/>
       </rules>
</nlog>
