@model NHiberanteDal.DTO.LearningMaterialDto

@{
    var name = "description";
    var markitUpId = "markItUp" + name;
    var previewId = "preview" + name;
}

@*todo limit chars in goals  chars counter*@
@Html.Partial("_MarkItUpEditorPartial", new elearn.Models.MarkItUpDataModel() { Data = Model.Description, Name = name })

<button id="btnSaveDescription" class="button_colour">
    <img src="@Url.Content("~/Content/Icons/ok.png")"/>
    <span>save</span>
</button>

<br />
<br />
<br />


<script type="text/javascript">

    $(function () {

        $("#btnSaveDescription").click(function () {

            $.ajax({
            type: "POST",
            url:"@Url.Action("UpdateDescription","LearningMaterial")/@Model.ID",
            data: "data="+$("#"+"@markitUpId").val(),
            success:function(data)
            {
                if(data.IsSuccess)
                {
                    ShowGreenAlert("Succesfully Updated Description.");
                }
                else
                {
                    ShowRedAlert("Problem Updating Description.");
                }
            }
            });

        });

    })


</script>