
<div id="feature_container" class="grid_16">
    <form id="filter" class="clearfix indent gallery_sorter">
    <fieldset class="grid_7 alpha">
        <h3>
            Level : </h3>
        <label>
            <div class="radio">
                <span class="checked">
                    <input type="radio" name="type" value="all" checked="checked" style="opacity: 0;"></span></div>
            All</label>
        <label>
            <div class="radio">
                <span class="">
                    <input type="radio" name="type" value="csharp" style="opacity: 0;"></span></div>
            Basic</label>
        <label>
            <div class="radio">
                <span class="">
                    <input type="radio" name="type" value="js" style="opacity: 0;"></span></div>
            Intermidiate</label>
        <label>
            <div class="radio">
                <span class="">
                    <input type="radio" name="type" value="html5" style="opacity: 0;"></span></div>
            Expert</label>
    </fieldset>
    <fieldset class="grid_7 omega">
        <h3>
            Sort by : </h3>
        <label>
            <div class="radio">
                <span class="checked">
                    <input type="radio" name="sort" value="name" style="opacity: 0;"></span></div>
            Name</label>
         <label>
            <div class="radio">
                <span class="">
                    <input type="radio" name="sort" value="update" checked="checked" style="opacity: 0;"></span></div>
            Rating</label>
    </fieldset>
    </form>
    <ul class="feature_list clearfix" style="height: 291px; overflow-x: hidden; overflow-y: hidden;">
        <li data-id="side_nav" data-type="cool">
	        <a href="http://www.tricycle.ie/adminica/css/theme/switcher2.php?style=switcher.css" class="features">
	        <img src="http://www.tricycle.ie/adminica/images/content/sidebar.png"><strong>Side Nav</strong>
	        <span class="update">0</span>
	        <div class="starred">&nbsp;</div>
	        </a>
        </li>

        <li data-id="slideout" data-type="new">
	        <a href="http://www.tricycle.ie/adminica/css/theme/switcher2.php?style=../header_slideout.css" class="features">
	        <img src="http://www.tricycle.ie/adminica/images/content/side_top.png"><strong>Slide Nav</strong>
	        <span class="update">1</span>
	        <div class="starred blue">&nbsp;</div>
	        </a>
        </li>

        <li data-id="full_width" data-type="all">
	        <a href="http://www.tricycle.ie/adminica/css/theme/switcher2.php?style=../header_top.css" class="features">
	        <img src="http://www.tricycle.ie/adminica/images/content/full_width.png"><strong>Full Width</strong>
	        <span class="update">0</span>
	        </a>
        </li>							

        <li data-id="drag" data-type="all">
	        <a href="http://www.tricycle.ie/adminica/index.php/site/layout/" class="features">
	        <img src="http://www.tricycle.ie/adminica/images/content/sortable.png"><strong>Drag, Sort &amp; Toggle</strong>
	        <span class="update">0</span>
	        </a>
        </li>

        <li data-id="chart" data-type="new">
	        <a href="http://www.tricycle.ie/adminica/index.php/site/charts/" class="features">
	        <img src="http://www.tricycle.ie/adminica/images/content/charts.png"><strong>Graphs &amp; Charts</strong>
	        <span class="update">2</span>
	        <div class="starred green">&nbsp;</div></a>
        </li>

        <li data-id="calendar" data-type="new">
	        <a href="http://www.tricycle.ie/adminica/index.php/site/calendar/" class="features">
	        <img src="http://www.tricycle.ie/adminica/images/content/calendar.png"><strong>Events Calendar</strong>
	        <span class="update">2</span>
	        <div class="starred green">&nbsp;</div></a>
        </li>

        <li data-id="wizard" data-type="new">
	        <a href="http://www.tricycle.ie/adminica/index.php/site/wizard/" class="features">
	        <img src="http://www.tricycle.ie/adminica/images/content/wizard.png"><strong>Step by Step Wizard</strong>
	        <span class="update">2</span>
	        <div class="starred green">&nbsp;</div></a>
        </li>

        <li data-id="table_static" data-type="new">
	        <a href="http://www.tricycle.ie/adminica/index.php/site/tables_static/" class="features">
	        <img src="http://www.tricycle.ie/adminica/images/content/tables.png"><strong>Table Styles</strong>
	        <span class="update">2</span>
	        <div class="starred green">&nbsp;</div></a>
        </li>
									
        <li data-id="tabs" data-type="cool">
	        <a id="opener" href="http://www.tricycle.ie/adminica/index.php/site/tabs/" class="features">
	        <img src="http://www.tricycle.ie/adminica/images/content/tabs.png"><strong>2 Types of Tabs</strong>
	        <span class="update">0</span>
	        <div class="starred">&nbsp;</div></a>
        </li>

        <li data-id="accordion" data-type="cool">
	        <a href="http://www.tricycle.ie/adminica/index.php/site/accordions/" class="features">
	        <img src="http://www.tricycle.ie/adminica/images/content/accordion.png"><strong>Sortable Accordions</strong>
	        <span class="update">0</span>
	        <div class="starred">&nbsp;</div></a>
        </li>

        <li data-id="fluid_width" data-type="cool">
	        <a href="http://www.tricycle.ie/adminica/css/theme/switcher1.php?style=switcher.css" class="features">
	        <img src="http://www.tricycle.ie/adminica/images/content/fluid.png"><strong>Fluid Width</strong>
	        <span class="update">0</span>
	        <div class="starred">&nbsp;</div>
	        </a>
        </li>

        <li data-id="fixed_width" data-type="cool">
	        <a href="http://www.tricycle.ie/adminica/css/theme/switcher1.php?style=../layout_fixed.css" class="features">
	        <img src="http://www.tricycle.ie/adminica/images/content/fixed.png"><strong>Fixed Width</strong>
	        <span class="update">0</span>
	        <div class="starred">&nbsp;</div>
	        </a>
        </li>
        <li data-id="nav" data-type="all">
	        <a href="#" class="features">
	        <img src="http://www.tricycle.ie/adminica/images/content/nav.png"><strong>Unique Navigation</strong>
	        <span class="update">0</span>
	        </a>
        </li>

        <li data-id="iOS" data-type="cool">
	        <a href="http://www.tricycle.ie/adminica/css/theme/switcher1.php?style=switcher.css" class="features"><img src="http://www.tricycle.ie/adminica/images/content/touchscreens.png"><strong>iOS &amp; Android Ready</strong>
	        <span class="update">0</span>
	        <div class="starred">&nbsp;</div></a>
        </li>

        <li data-id="syntax" data-type="all">
	        <a href="http://www.tricycle.ie/adminica/index.php/site/code/" class="features">
	        <img src="http://www.tricycle.ie/adminica/images/content/code.png"><strong>Syntax Highlighting</strong>
	        <span class="update">0</span>
	        </a>
        </li>

        <li data-id="themes" data-type="cool">
	        <a href="#" class="features">
	        <img src="http://www.tricycle.ie/adminica/images/content/themes.png"><strong>7 Themes</strong>
	        <span class="update">0</span>
	        <div class="starred">&nbsp;</div></a>
        </li>

        <li data-id="theme_switcher" data-type="new">
	        <a href="#" class="features">
	        <img src="http://www.tricycle.ie/adminica/images/content/theme_switcher.png"><strong>Theme Switcher</strong>
	        <span class="update">1</span>
	        <div class="starred blue">&nbsp;</div>
	        </a>
        </li>

        <li data-id="contact" data-type="cool">
	        <a href="http://www.tricycle.ie/adminica/index.php/site/contacts/" class="features">
	        <img src="http://www.tricycle.ie/adminica/images/content/contacts.png"><strong>Unique Slider Lists</strong>
	        <span class="update">0</span>
	        <div class="starred">&nbsp;</div></a>
        </li>

        <li data-id="icons" data-type="all">
	        <a href="http://www.tricycle.ie/adminica/index.php/site/buttons/" class="features">
	        <img src="http://www.tricycle.ie/adminica/images/content/icons.png"><strong>400+ Icons</strong>
	        <span class="update">0</span>
	        </a>
        </li>

        <li data-id="buttons" data-type="cool">
	        <a href="http://www.tricycle.ie/adminica/index.php/site/buttons/" class="features">
	        <img src="http://www.tricycle.ie/adminica/images/content/buttons.png"><strong>290+ CSS3 Buttons</strong>
	        <span class="update">0</span>
	        <div class="starred">&nbsp;</div></a>
        </li>

        <li data-id="forms" data-type="all">
	        <a href="http://www.tricycle.ie/adminica/index.php/site/forms/" class="features">
	        <img src="http://www.tricycle.ie/adminica/images/content/forms.png"><strong>Fully Styled Forms</strong>
	        <span class="update">0</span>
	        </a>
        </li>

        <li data-id="date" data-type="all">
	        <a href="http://www.tricycle.ie/adminica/index.php/site/forms/" class="features">
	        <img src="http://www.tricycle.ie/adminica/images/content/datepicker.png"><strong>Date Picker</strong>
	        <span class="update">0</span>
	        </a>
        </li>

        <li data-id="dismiss_box" data-type="new">
	        <a href="http://www.tricycle.ie/adminica/index.php/site/forms/" class="features">
	        <img src="http://www.tricycle.ie/adminica/images/content/dismiss_box.png"><strong>Alert Boxes</strong>
	        <span class="update">1</span>
	        <div class="starred blue">&nbsp;</div>
	        </a>
        </li>

        <li data-id="960" data-type="all">
	        <a href="http://www.tricycle.ie/adminica/index.php/site/layout/" class="features">
	        <img src="http://www.tricycle.ie/adminica/images/content/960.png"><strong>960.gs Framework</strong>
	        <span class="update">0</span>
	        </a>
        </li>

        <li data-id="typography" data-type="all">
	        <a href="http://www.tricycle.ie/adminica/index.php/site/text/" class="features">
	        <img src="http://www.tricycle.ie/adminica/images/content/typography.png"><strong>Typography &amp; Text</strong>
	        <span class="update">0</span>
	        </a>
        </li>

        <li data-id="RTE" data-type="all">
	        <a href="http://www.tricycle.ie/adminica/index.php/site/editor/" class="features">
	        <img src="http://www.tricycle.ie/adminica/images/content/type.png"><strong>Rich Text Editor</strong>
	        <span class="update">0</span>
	        </a>
        </li>

        <li data-id="sortable_gallery" data-type="cool">
	        <a href="http://www.tricycle.ie/adminica/index.php/site/gallery_sortable/" class="features">
	        <img src="http://www.tricycle.ie/adminica/images/content/gallery.png"><strong>Sortable Gallery</strong>
	        <span class="update">0</span>
	        <div class="starred">&nbsp;</div>
	        </a>
        </li>

        <li data-id="gallery" data-type="cool">
	        <a href="http://www.tricycle.ie/adminica/index.php/site/gallery/" class="features">
	        <img src="http://www.tricycle.ie/adminica/images/content/fancybox.png"><strong>Fancybox Viewer</strong>
	        <span class="update">0</span>
	        <div class="starred">&nbsp;</div>
	        </a>
        </li>

        <li data-id="tables" data-type="cool">
	        <a href="http://www.tricycle.ie/adminica/index.php/site/tables/" class="features">
	        <img src="http://www.tricycle.ie/adminica/images/content/tables.png"><strong>Dynamic Tables</strong>
	        <span class="update">0</span>
	        <div class="starred">&nbsp;</div>
	        </a>
        </li>

        <li data-id="files" data-type="cool">
	        <a href="http://www.tricycle.ie/adminica/index.php/site/files/" class="features">
	        <img src="http://www.tricycle.ie/adminica/images/content/files.png"><strong>File Browser</strong>
	        <span class="update">0</span>
	        <div class="starred">&nbsp;</div>
	        </a>
        </li>

        <li data-id="login" data-type="all">
	        <a href="http://www.tricycle.ie/adminica/index.php/site/login/" class="features">
	        <img src="http://www.tricycle.ie/adminica/images/content/login.png"><strong>Login Box</strong>
	        <span class="update">0</span>
	        </a>
        </li>

        <li data-id="CSS3" data-type="all">
	        <a href="#" class="features">
	        <img src="http://www.tricycle.ie/adminica/images/content/css3.png"><strong>CSS3 enhanced</strong>
	        <span class="update">0</span>
	        </a>
        </li>

        <li data-id="cross_browser" data-type="all">
	        <a href="#" class="features">
	        <img src="http://www.tricycle.ie/adminica/images/content/browser.png"><strong>Cross Browser (IE7+)</strong>
	        <span class="update">0</span>
	        </a>
        </li>

        <li data-id="scroll_top" data-type="new">
	        <a href="#" class="features">
	        <img src="http://www.tricycle.ie/adminica/images/content/scroll_top.png"><strong>Scroll Top</strong>
	        <span class="update">1</span>
	        <div class="starred blue">&nbsp;</div>
	        </a>
        </li>
    </ul>
</div>