@model NHiberanteDal.DTO.CourseDto
<div id="feature_container" class="grid_16">
    <form id="filter" class="clearfix indent gallery_sorter">
    <fieldset class="grid_7 alpha">
        <h3>
            Level :
        </h3>
        <label>
            <div class="radio">
                <span class="checked">
                    <input type="radio" name="type" value="all" checked="checked" style="opacity: 0;"></span></div>
            All</label>
        <label>
            <div class="radio">
                <span class="">
                    <input type="radio" name="type" value="1" style="opacity: 0;"></span></div>
            Basic</label>
        <label>
            <div class="radio">
                <span class="">
                    <input type="radio" name="type" value="2" style="opacity: 0;"></span></div>
            Intermidiate</label>
        <label>
            <div class="radio">
                <span class="">
                    <input type="radio" name="type" value="3" style="opacity: 0;"></span></div>
            Expert</label>
    </fieldset>
    <fieldset class="grid_7 omega">
        <h3>
            Sort by :
        </h3>
        <label>
            <div class="radio">
                <span class="checked">
                    <input type="radio" name="sort" value="name" style="opacity: 0;"></span></div>
            Name</label>
        <label>
            <div class="radio">
                <span class="">
                    <input type="radio" name="sort" value="update" checked="checked" style="opacity: 0;"></span></div>
            Rating</label>
    </fieldset>
    </form>
    <ul class="feature_list clearfix">
        @foreach (var material in Model.LearningMaterials)
        { 
            <li data-id="@material.ID" data-type="@material.Level"><a href="@Url.Action("Details", "LearningMaterial")/@material.ID" class="features">
                <img src="http://www.tricycle.ie/adminica/images/content/sidebar.png"><strong>Side Nav</strong>
                <span class="update">0</span>
                <div class="starred">
                    &nbsp;</div>
            </a></li>
        }
    </ul>

</div>

