

@model NHiberanteDal.DTO.CourseDto

ShoutBox 
<div id="shoutBoxMessages"></div>
<input id="shoutBoxText" type="text"/>
<div id="markGood" hidden="hidden" >Good</div>
<div id="markFail" hidden="hidden">Fail</div>
<div id="markLoading" hidden="hidden">Loading</div>

<script type="text/javascript"> 

    $().ready(function () {
        reloadShoutBox();
        $("#shoutBoxText").bind('keypress', function (e) {

            var code = (e.keyCode ? e.keyCode : e.which);
            //enter code
            if (code == 13) {
                
                $("#markGood").hide();
                $("#markFail").hide();
                $("#markLoading").show();
                var shoutBoxtext = $("#shoutBoxText").val();
                $.ajax({
                    type : "POST",
                    url: "@Html.Raw(Url.Action("Add", "ShoutBox", new { id =Model.ShoutBox.ID}))",
                    data: "message="+shoutBoxtext,
                    success: function(msg) {
                            if (msg.IsSuccess) {
                                reloadShoutBox();
                                $("#shoutBoxText").val("");
                                $("#markGood").show();
                        }
                        else {
                            $("#markFail").show();
                            $("#markLoading").hide();
                       }
                    },
                    failure : function () {
                        $("#markFail").show();
                        $("#markLoading").hide();
                    }
                });
            }
        });

    });
    
    
        function reloadShoutBox() {
        $("#markLoading").show();
        $.ajax({
            type : "POST",
                url: "@Url.Action("GetMessages", "ShoutBox", new { id = ViewData.Model.ShoutBox.ID})",
                success: function(msg) {
                        if (msg.IsSuccess) {
                            var messageBox = $("#shoutBoxMessages");
                            messageBox.html("");
                            for (var i = 0;i<msg.Data.length;i++) {
                                messageBox.append(FormatMessage(msg.Data[i]));
                            }
                            $("#markGood").show();
                            $("#markLoading").hide();
                    }
                    else {
                        $("#markFail").show();
                        $("#markLoading").hide();
                    }
                },
                failure : function () {
                    $("#markFail").show();
                    $("#markLoading").hide();
                }
            });
    };

    
    
    function FormatMessage(data) {
        var formatedMessage = 
        FormatDate(JsonToDate(data.TimePosted)) + " "
            + data.Author + " "
                + data.Message + "<br />";
        return formatedMessage;
    }
    
    
    function FormatDate(date) {
        var hours = date.getHours();
        if (hours <10)
            hours = "0" + hours;
        
        var minutes = date.getMinutes();
        if (minutes<10)
            minutes = "0" + minutes;
        return hours + ":" + minutes;
    }
    
    function JsonToDate(date) {
        var returnedDate = new Date(parseInt(date.substr(6)));
        return returnedDate;
    }
   

</script>