@{
    ViewBag.Title = "Surveys";
}

@model IList<NHiberanteDal.DTO.TestDto>

<h2>Availble Tests</h2>
<ul>
@foreach (var test in Model)
{
    <li>Name : @test.Name</li>
    <li>Creation Date : @test.CreationDate</li>
    <ul>
    @foreach (var question in test.Questions)
    {
      <li>@question.QuestionText</li>   
    }
    </ul>
}
</ul>