<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  throwExceptions="true" internalLogLevel="Trace" internalLogFile="nlog_log.log">

  <targets>
    <target name="ServicesLogFile" xsi:type="File" fileName="c:\logs\ServicesLogFile.log"/>
    <target xsi:type="NLogViewer"
    name="viewer"
    address="udp://127.0.0.1:9999"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="ServicesLogFile" />
    <logger name="*" minlevel="Trace" writeTo="viewer"/>
  </rules>
</nlog>
