@model NHiberanteDal.DTO.TestDto

@{
    ViewBag.Title = "DoTest";
}

@using (Html.BeginForm("DoTest", "Test", FormMethod.Post, new { id = "doTestForm" }))
{

    <div class="box grid_16">
        <h2 class="box_head grad_colour">
            Questions</h2>
        <a href="#" class="toggle">&nbsp;</a>
        <div class="toggle_container">
            <ul id="questionsPlaceholder" class="block content_accordion ui-accordion ui-widget ui-helper-reset ui-sortable"
                role="tablist">
                @Html.Partial("_DoQuestionListPartial", Model)
            </ul>
        </div>
    </div>
<button class="button_colour" value="Save" type="submit">
    <img height="24" width="24" alt="Bended Arrow Right" src="@Url.Content("~/Content/Adminica/images/icons/small/white/bended_arrow_right.png")">
    <span>Finish</span>
</button>
}