@model List<NHiberanteDal.DTO.FinishedTestModelDto> 
@{
    ViewBag.Title = "Finished";
}
<div class="box grid_16 round_all">
    <h2 class="box_head grad_colour round_top">
        Completed Tests</h2>
    <div class="block no_padding">
        <table class="static">
            <thead>
                <tr class="even">
                    <th class="first">
                        Test Id
                    </th>
                    <th>
                        Date Finished
                    </th>
                    <th>
                        Test Name
                    </th>
                    <th class="last">
                        Mark
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var test in Model)
                {
                    <tr>
                        <td>@test.TestId
                        </td>
                        <td>@test.DateFinished
                        </td>
                        <td>@test.TestName
                        </td>
                        <td>@test.Mark/100
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
